<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breadtravel_20200408">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".util.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="面包旅行"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.PoiSearchActivity"></activity>
        <activity android:name=".activity.SearchContentActivity" />
        <activity android:name=".activity.SearchActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b45b96a8856a1ca45dea221c56053aa8" />

        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.breadtravel_20200408.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.ProcessActivity" />
        <activity android:name=".activity.ReleaseWorksActivity" />
        <activity
            android:name=".activity.WorksContentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.ClipImageActivity" />
        <activity android:name=".activity.HeadImgView" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProtocolActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>